	<div class="covers">
		<%= link_to image_tag("album cover.jpg", size: "100", class: "img-responsive", title: 'Apartheid of thoughts'), "https://tarzanbros.bandcamp.com/album/apartheid-of-thoughts" %>
		<%= link_to image_tag("chess.jpg", size: "100", class: "img-responsive", title: 'Chess with your life' ), "https://tarzanbros.bandcamp.com/album/chess-with-your-life" %>
		<%= link_to image_tag("reborn.jpg", size: "100", class: "img-responsive", title: 'Reborn' ), "https://tarzanbros.bandcamp.com/track/reborn" %>
		<%= link_to image_tag("malecon.jpg", size: "100", class: "img-responsive", title: 'Malecon' ), "https://tarzanbros.bandcamp.com/track/oh-malecon" %>
		<%= link_to image_tag("jerry.jpg", size: "100", class: "img-responsive", title: 'Jerry' ), "https://tarzanbros.bandcamp.com/track/jerry-tarzanbros-remix" %>
		<%= link_to image_tag("tomato.jpg", size: "100", class: "img-responsive", title: "Don't touch me tomato" ), "https://tarzanbros.bandcamp.com/track/dont-touch-me-tomato-phyllis-dillon-tarzan-bros-remix" %>
		<%= link_to image_tag("skanville.jpg", size: "100", class: "img-responsive", title: 'Train to skanville' ), "https://tarzanbros.bandcamp.com/track/ethiopians-train-to-skaville-tarzanbros-remix" %>
		<%= link_to image_tag("diggin.jpg", size: "100", class: "img-responsive", title: 'B-hop diggin' ), "https://tarzanbros.bandcamp.com/track/b-hop-diggin" %>
		<%= link_to image_tag("zealots.jpg", size: "100", class: "img-responsive", title: 'Zealots' ), "https://tarzanbros.bandcamp.com/track/fugees-zealots-tarzan-bros-re-imagined" %>
		<%= link_to image_tag("imperial.jpg", size: "100", class: "img-responsive", title: 'Imperial bros' ), "https://tarzanbros.bandcamp.com/album/imperial-bros" %>
	</div>