<!DOCTYPE html>
<html lang="en">

  <head>

    <title>Products</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    
  </head>

  <body>

    <p id="notice"><%= notice %></p>
    <h1>Products</h1>

    <div class="container">
      <div class="row">
        <% @products.each do |product| %>
          <div class="col-md-4 col-sm-6 col-xs-12">
            <a href="#"><h3><%= product.name %></h3></a>
            <p><%= product.description %></p>
            <p><%= image_tag(product.image_url, class:"img-responsive", size: "100") %></p>
            <p><%= product.colour %></p>
            <strong><%= product.price %> CHF</strong>
            <p><%= link_to 'Show', product %></p>
            <p><%= link_to 'Edit', edit_product_path(product) %></p>
            <p><%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' } %></p>
          </div>
        <% end %>
      </div>
    </div>
  </body>

  <br>
  <%= link_to 'New Product', new_product_path %>
</html>